{
	admin off
}

(app) {
	encode zstd gzip

	@pocketbaseAdmin path /_/ /_/*
	respond @pocketbaseAdmin 404

	header {
		-Server
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}

crm.designferri.eu {
	import app

	reverse_proxy crm-demo:8090
}

:8080 {
	import app

	reverse_proxy crm-demo:8090 {
		header_up X-Forwarded-Proto https
	}
}
